.about_tasks {
    margin-top: 5%;
}

.header {
    display: grid;
    grid-template-areas:
    "nameSort nameSort nameSort nameSort" 
    "total name email status";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header_name {
    grid-area: nameSort;
    text-align: center;
    margin-bottom: 2%;
 }

.header_sortTotal {
    grid-area: total;
    text-align: center;
}

.header_sortName {
    grid-area: name;
    text-align: center;
}

.header_sortEmail {
    grid-area: email;
    text-align: center;
}

.header_sortStatus {
    grid-area: status;
    text-align: center;
}

.tasks_paginator {
    display: block;
    margin: auto;
    width: 50%;
}

.tasks_list {
    display: block;
    margin: auto;
    width: 50%;
}
